
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Student ChatBot Portal</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        body {
            background-image: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77700448595.jpg);
            background-repeat: no-repeat;
            background-size: 100%,90%;
            background-attachment: fixed;
        }
        </style>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-black navbar-dark navbar-fixed-top">
            <div class="container">


                <img src="~/chatbot4.jpg" alt="chatbot4"
                 width="75" height="75" class="d-inline-block align-top" />

                <a href="#" class="navbar-brand active">

                    Student ChatBot Portal
                </a>
                <div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                        @*<span class="navbar-toggler-icon"></span>*@
                    </button>
                    <div class="collapse navbar-collapse" id="navmenu">

                    </div>

                </div>

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item active">
                        <a href="@Url.Action("Login", "Home")" class="nav-link  ">Login </a>
                    </li>
                    @*<li> @Html.ActionLink("Register", "Register", "Home")</li>*@
                    <li class="nav-item active">
                        <a href="@Url.Action("About", "Home")" class="nav-link">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="@Url.Action( "ContactUs", "Home")" class="nav-link">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            </nav>
         </div>
                <section class=" bg-gradient text-light p-5 text-center"></section>
                <div class="container-body-content">
                    <div class="d-sm-flex">
                        <h1></h1>
                    </div>


                    @RenderBody()



                </div>
                <script src="~/Scripts/jquery-3.0.0.min.js"></script>
                <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

