<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Student ChatBot Portal</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-info navbar-dark">
            <div class="container">
                <img src="~/Student_Query_Image.jpg" alt="Student_Query_Image"
                     width="75" height="75" class="d-inline-block align-top" />
                
                <a href="#" class="navbar-brand">

                    Student ChatBot Portal
                </a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    @*<span class="navbar-toggler-icon"></span>*@
                </button>
                <div class="collapse navbar-collapse" id="navmenu">

                </div>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Queries")" class="btn btn-outline-primary">StudentQueries</a>
                        @*<a href="Query" class="nav-link">Query</a>*@
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Logout","Home")" class="btn btn-outline-primary">Logout</a>
                    </li>

                 
                </ul>
            </div>
        </nav>
    </div>
    <section class=" bg-gradient text-light p-5 text-center"></section>
    <div class="container-body-content">
        <div class="d-sm-flex">

        </div>


        @RenderBody()
        @*<footer>
            @DateTime.Now.Year - This is Asp.Net MVC Application
        </footer>*@

        <hr />

    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
